<!--<div class="container">-->
  <div class="search-conditions">
    <% @coffee_shop_search_conditions.each do |coffee_shop_search_condition| %>
      <p>
        <%= coffee_shop_search_condition %>
      </p>
    <% end %>
  </div>
  <hr>
  <h3>全<%= @coffee_shops_count %>件</h3>
  <% if @coffee_shops.blank? %>
    該当店舗なし
    <br>
  <% else %>
    <% @coffee_shops.each do |coffee_shop| %>
      <div class="list-shop">
        <div class="list-image">
          <%= link_to(coffee_shop_path(coffee_shop)) do %>
            <%= render partial: 'shared/show_image_first', locals: { target: coffee_shop, image_size: "100x100" } %>
          <% end %>
        </div>
        <h3 class="list-name">
          <%= link_to coffee_shop.name, coffee_shop_path(coffee_shop), class: 'list-name-color' %>
        </h3>
        <div class="list-favorite">
          <% if user_signed_in? %>
            <% if current_user.likes?(coffee_shop) %>
              <%= image_tag "/images/heart.png", size: "30x30" %>
            <% end %>
          <% end %>
        </div>
        <div class="list-access">
          <%= coffee_shop.access %>
        </div>
        <div class="list-review-score">
          レビュー平均：<%= ReviewAverageScoreService.new(coffee_shop.reviews).calculation %>点
        </div>
        <div class="list-popular">
          <%= image_tag "/images/review_image.png", size: "20x20" %>レビュー数：<%= coffee_shop.reviews.count %>件　
          <%= image_tag "/images/good_hand.png", size: "20x20" %>お気に入り数：<%= coffee_shop.likers(User).count %>人
        </div>
        <div class="list-sns">
          <% if coffee_shop.shop_url.present? %>
            <div class="list-icon">
          	  <%= link_to coffee_shop.shop_url do %>
        	  	  <%= image_tag "/images/hp_icon.png", size: "30x30" %>
        	  	<% end %>
        	  </div>
        	<% end %>
          <% if coffee_shop.instagram_url.present? %>
        	  <div class="list-icon">
        	  	<%= link_to('https://www.instagram.com/' + coffee_shop.instagram_url) do %>
        	  	  <%= image_tag "/images/insta_icon.png", size: "30x30" %>
        	  	<% end %>
        	  </div>
        	<% end %>
        	<% if coffee_shop.tabelog_url.present? %>
            <div class="list-icon">
              <%= link_to(coffee_shop.tabelog_url) do %>
        	  	  <%= image_tag "/images/tabelog_icon.png", size: "50x30" %>
        	  	<% end %>
            </div>
          <% end %>
        </div>
        <div class="list-info">
          住所：<%= coffee_shop.address %>
          <% if coffee_shop.business_start_hour.present? and coffee_shop.business_end_hour.present? %>　
            営業時間：<%= coffee_shop.business_start_hour.hour %>時 ~ <%= coffee_shop.business_end_hour.hour %>時
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="list-paginate"><%= paginate @coffee_shops %></div>
  <% end %>
<!--</div>-->