<h1>CoffeeShops#show</h1>
	<%= link_to favorite_coffee_shop_path(target_action: "show"), class: "btn favorite-button text-favorite" do %>
		<i class="fa fa-heart"></i><%= current_user.likes?(@coffee_shop) ? "お気に入り解除" : "お気に入り" %>
	<% end %>
	<br>
	お気に入り数：<%= @likers.count %>
	<br>
	お気に入りユーザー：
	<% @likers.last(5).each do |liker| %>
		<%= link_to liker.name, user_path(liker.id) %>,
	<% end %>
	<br>
  店舗名：<%= @coffee_shop.name %>
  <br>
  店舗HP：<%= @coffee_shop.shop_url %>
  <br>
  住所：<%= @coffee_shop.address %>
  <br>
  電話番号：<%= @coffee_shop.tell %>
  <br>
  アクセス：<%= @coffee_shop.access %>
  <br>
  営業開始時間：<%= @coffee_shop.business_start_hour %>
  <br>
  営業終了時間：<%= @coffee_shop.business_end_hour %>
  <br>
  定休日：<%= @coffee_shop.regular_holiday %>
  <br>
  Instagram公式URL：<%= @coffee_shop.instagram_url %>
  <br>
  InstagramスポットURL：<%= @coffee_shop.instagram_spot_url %>
  <br>
  エリアid：<%= @coffee_shop.municipalitie_id %>
  <br>
  画像１：<%= @coffee_shop.first_image_url %>
  <br>
  画像２：<%= @coffee_shop.second_image_url %>
  <br>
  画像３：<%= @coffee_shop.third_image_url %>
	<hr>
	レビュー数：<%= @reviews.count %>
	<hr>
	レビュー点数：<%= @review_average_score %>
	<hr>
	
	<% @reviews.each do |review| %>
		<dic class="offset-md-5 col-md-5">
			<p>投稿者：<%= link_to review.user.name, user_path(review.user_id) %></p>
			<p>スコア：<%= review.review_score %></p>
			<p>レビュー：<%= review.review_comment %></p>
			<label>投稿日：<%= review.created_at %></label>
			<% if user_signed_in? and current_user.id == review.user_id %>
				<p><%= link_to "削除", review_path(review), method: :delete, data: { confirm: '削除してもいいですか?' } %></p>
			<% end %>
			<hr>
		</dic>
	<%end %>
	
	<% if user_signed_in? %>
		<div class="offset-md-5 col-md-5">
			<%= form_with model: @review, url: coffee_shop_reviews_path(@coffee_shop) do |f| %>
				レビュー内容 ※150字以内
				<%= f.text_area :review_comment, class: "form-control m-2" %>
				<br>
				レビュースコア ※0~100、整数のみ
				<%= f.number_field :review_score, class: "form-control m-2" %>
				<%= f.submit "レビューを追加" %>
			<% end %>
		</div>
	<% end %>
	
<%= link_to "戻る", :back %>