<h1>CoffeeShops#show</h1>
  店舗名<%= @coffee_shop.name %>
  <br>
  店舗HP<%= @coffee_shop.shop_url %>
  <br>
  住所<%= @coffee_shop.address %>
  <br>
  電話番号<%= @coffee_shop.tell %>
  <br>
  アクセス<%= @coffee_shop.access %>
  <br>
  営業開始時間<%= @coffee_shop.business_start_hour %>
  <br>
  営業終了時間<%= @coffee_shop.business_end_hour %>
  <br>
  定休日<%= @coffee_shop.regular_holiday %>
  <br>
  Instagram公式URL<%= @coffee_shop.instagram_url %>
  <br>
  InstagramスポットURL<%= @coffee_shop.instagram_spot_url %>
  <br>
  エリアid<%= @coffee_shop.municipalitie_id %>
  <br>
  画像１<%= @coffee_shop.first_image_url %>
  <br>
  画像２<%= @coffee_shop.second_image_url %>
  <br>
  画像３<%= @coffee_shop.third_image_url %>
	<br>
	
	<div class = "row">
		<% @reviews.each do |review| %>
			<dic class="offset-md-5 col-md-5">
				<p class="h3"><%= review.review_comment %></p>
				<label><%= review.created_at %></label>
			</dic>
		<%end %>
	</div>
	
	<% if user_signed_in? %>
		<div class="row">
			<div class="offset-md-5 col-md-5">
				<%= form_with model: @review, url: coffee_shop_reviews_path(@coffee_shop) do |f| %>
					<%= f.text_area :review_comment, class: "form-control m-2" %>
					<%= f.number_field :review_score, class: "form-control m-2" %>
					<%= f.submit "レビューを追加" %>
				<% end %>
			</div>
		</div>
	<% end %>
	
<%= link_to "戻る", :back %>