<h1>店舗編集</h1>

<%= form_with model: @coffee_shop, url: dashboard_coffee_shop_path, local: true do |f| %>
  店舗名<%= f.text_field :name %>
  <br>
  店舗HP<%= f.text_field :shop_url %>
  <br>
  住所<%= f.text_field :address %>
  <br>
  電話番号<%= f.number_field :tell %>
  <br>
  アクセス<%= f.text_field :access %>
  <br>
  営業時間<%= f.time_field :business_start_hour %> ~ <%= f.time_field :business_end_hour %>
  <br>
  すいている時間<%= f.time_field :slack_time_start %> ~ <%= f.time_field :slack_time_end %>
  <br>
  定休日
  <% DayOfWeek.all.each do |day_of_week| %>
    <%= check_box_tag 'regular_holidays[]', day_of_week.name, @coffee_shop.regular_holiday.include?(day_of_week.name) %><%= day_of_week.name %>
  <% end %>
  <br>
  年齢層
  <%= f.select :age_group, AgeGroup.pluck(:name), { include_blank: '選択してください' } %>
  <br>
  Instagram公式URL<%= f.text_field :instagram_url %>
  <br>
  InstagramスポットURL<%= f.text_field :instagram_spot_url %>
  <br>
  エリア<%= f.select :municipalitie_id, @municipality_tags, { include_blank: '選択してください' } %>
  <br>
  <div class="form-inline mt-4 mb-4 row">
    <%= f.label "画像" %>
    <%= render partial: 'shared/show_images', locals: { target: @coffee_shop, image_size: "100x100" } %>
    <div class="d-flex flex-column ml-2">
      <small class="mb-3">600px×600px推奨。<br>画像をアップロードして下さい。</small>
      <%= f.file_field :images, onChange: "javascript: handleImage(this.files);", multiple: true %>
      <img id="image-preview",size="50x50">
    </div>
  </div>
  <br>
  検索カテゴリ<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:search_category_ids, SearchCategory.all, :id, :name) do |search_category| %>
      <%= search_category.label { search_category.check_box + search_category.text } %>
    <% end %>
  </div>
  お店の雰囲気<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:shop_atmosphere_ids, ShopAtmosphere.all, :id, :name) do |shop_atmosphere| %>
      <%= shop_atmosphere.label { shop_atmosphere.check_box + shop_atmosphere.text } %>
    <% end %>
  </div>
  コーヒー豆<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:coffee_bean_ids, CoffeeBean.all, :id, :name) do |coffee_bean| %>
      <%= coffee_bean.label { coffee_bean.check_box + coffee_bean.text } %>
    <% end %>
  </div>
  席数<%= f.number_field :shop_seats %>
  <br>
  静かさ<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:volume_in_shop_ids, VolumeInShop.all, :id, :name) do |volume_in_shop| %>
      <%= volume_in_shop.label { volume_in_shop.check_box + volume_in_shop.text } %>
    <% end %>  
  </div>
  <br>
  食べもの<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:food_menu_ids, FoodMenu.all, :id, :name) do |food_menu| %>
      <%= food_menu.label { food_menu.check_box + food_menu.text } %>
    <% end %>
  </div>
  <br>
  <%= f.submit "更新" %>
<% end %>

<%= link_to "一覧に戻る", dashboard_coffee_shops_path %>

<%= javascript_include_tag "dashboard/coffee_shops/edit" %>