<h1>店舗編集</h1>

<%= form_with model: @coffee_shop, url: dashboard_coffee_shop_path, local: true do |f| %>
  店舗名<%= f.text_field :name %>
  <br>
  店舗HP<%= f.text_field :shop_url %>
  <br>
  住所<%= f.text_field :address %>
  <br>
  電話番号<%= f.number_field :tell %>
  <br>
  アクセス<%= f.text_field :access %>
  <br>
  営業開始時間<%= f.time_field :business_start_hour %>
  <br>
  営業終了時間<%= f.time_field :business_end_hour %>
  <br>
  定休日<%= f.text_field :regular_holiday %>
  <br>
  Instagram公式URL<%= f.text_field :instagram_url %>
  <br>
  InstagramスポットURL<%= f.text_field :instagram_spot_url %>
  <br>
  エリアid<%= f.number_field :municipalitie_id %>
  <br>
  画像１<%= f.text_field :first_image_url %>
  <br>
  画像２<%= f.text_field :second_image_url %>
  <br>
  画像３<%= f.text_field :third_image_url %>
  <br>
  <%= f.submit "更新" %>
<% end %>

<%= link_to "一覧に戻る", dashboard_coffee_shops_path %>