<div class="w-75">
  
  <h1>静かさ一覧</h1>
  
  <%= form_with(model: @volume_in_shop, url: dashboard_volume_in_shops_path, local: true) do |f| %>
    <%= f.label :name, "静かさ" %>
    <%= f.text_field :name %>
    
    <%= f.submit "新規作成" %>
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">静かさ</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @volume_in_shops.each do |volume_in_shop| %>
      <tr>
        <td scope="row"><%= volume_in_shop.id %></td>
        <td><%= volume_in_shop.name %></td>
        <td>
          <%= link_to "編集", edit_dashboard_volume_in_shop_path(volume_in_shop) %>
          
        </td>
        <td>
          <%= link_to "削除", dashboard_volume_in_shop_path(volume_in_shop), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>