<div class="container ml-3">
  <b>店舗管理</b>
  <br>
    <%= link_to "店舗一覧", dashboard_coffee_shops_path %>
  <br>
  <b>ユーザー管理</b>
  <br>
    <%= link_to "ユーザー一覧", dashboard_users_path %>
  <br>
  <b>検索条件管理</b>
  <br>
    <%= link_to "都道府県一覧", dashboard_prefectures_path %>
  <br>
    <%= link_to "エリア一覧", dashboard_municipalities_path %>
  <br>
    <%= link_to "カテゴリ一覧", dashboard_search_categories_path %>
  <br>
    <%= link_to "お店の雰囲気一覧", dashboard_shop_atmospheres_path %>
  <br>
    <%= link_to "コーヒー豆一覧", dashboard_coffee_beans_path %>
  <br>
    <%= link_to "静かさ一覧", dashboard_volume_in_shops_path %>
  <br>
    <%= link_to "食べ物一覧", dashboard_food_menus_path %>
  <br>
    <%= link_to "BGM一覧", dashboard_shop_bgms_path %>
  <br>
    <%= link_to "風景一覧", dashboard_shop_sceneries_path %>
  <br>
    <%= link_to "支払い方法一覧", dashboard_payment_methods_path %>
</div>