<h1>カテゴリ編集</h1>

<%= form_with model: @municipality, url: dashboard_municipality_path(@municipality), local: true do |f| %>
  <%= f.label :name, "エリア名称" %>
  <%= f.text_field :name %>
  
  <%= f.label :prefecture_id, "都道府県" %>
  <%= f.select :prefecture_id, @prefecture_tag %>
  
  <%= f.submit "更新" %>
<% end %>
<%= link_to "カテゴリ一覧に戻る", dashboard_municipalities_path %>