<h1>ユーザー情報編集</h1>
<hr>
<%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
  <%= f.label :name, "氏名" %>
  <%= f.text_field :name, value: @user.name, placeholder: @user.name %>
  
  <hr>
  
  <%= f.label :email, "E-mail" %>
  <%= f.email_field :email, value: @user.email, placeholder: @user.email %>
  
  <hr>
  
  <%= f.label :age, "年齢" %>
  <%= f.text_field :age, value: @user.age, placeholder: @user.age %>
  
  <hr>
  
  <%= f.label :gender, "性別" %>
  <%= f.text_field :gender, value: @user.gender, placeholder: @user.gender %>
  
  <hr>
  
  <%= f.label :self_introduction, "自己紹介"%>
  <%= f.text_area :self_introduction, value: @user.self_introduction, placeholder: @user.self_introduction %>
  
  <hr>
  
  画像(未実装)
  
  <hr>
  
  <%= f.submit "保存" %>
<% end %>
