<h1>ユーザー情報編集</h1>
<hr>
<%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
  <div class="form-inline mt-4 mb-4 row">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, id: "user-image-preview", size: "100x100" %>
    <% else %>
      <img src="#", id: "user-image-preview">
    <% end %>
    <div class="d-flex flex-column ml-2">
      <small class="mb-3">600px×600px推奨。<br>画像をアップロードして下さい。</small>
      <%= f.file_field :image, { onChange: "javascript: handleImage(this.files);"} %>
    </div>
  </div>
  
  <hr>
  
  <%= f.label :name, "氏名" %>
  <%= f.text_field :name, value: @user.name %>
  
  <hr>
  
  <%= f.label :email, "E-mail" %>
  <%= f.email_field :email, value: @user.email %>
  
  <hr>
  
  <%= f.label :age, "年齢" %>
  <% choices = [['10代', 10],['20代', 20],['30代',30],['40代',40],['50代',50],['60代',60],['シニア','シニア']] %>
  <%= f.select :age, choices, selected: @user.age %>
  
  
  <hr>
  
  <% if @user.gender == "male" %>
    <%= f.radio_button :gender, :male, {:checked => true } %>
    <%= f.label :gender, "男性", {value: :male, stylr: "display: inline-block;"} %>
  <% else %>
    <%= f.radio_button :gender, :male %>
    <%= f.label :gender, "男性", {value: :male, stylr: "display: inline-block;"} %>
  <% end %>
  
  <% if @user.gender == "female" %>
    <%= f.radio_button :gender, :female, {:checked => true } %>
    <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
  <% else %>
    <%= f.radio_button :gender, :female %>
    <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
  <% end %>
  <hr>
  
  <%= f.label :self_introduction, "自己紹介"%>
  <%= f.text_area :self_introduction, value: @user.self_introduction %>
  
  <hr>
  
  画像(未実装)
  
  <hr>
  
  <%= f.label :instagram_url, "インスタグラムのアカウント" %>
  <%= f.text_field :instagram_url, value: @user.instagram_url %>
  
  <hr>
  
  <%= f.submit "保存" %>
<% end %>

<div class="d-flex justify-content-end">
  <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
  <div class="btn dashboard-delete-link" data-toggle="modal" data-target="#delete-user-confirm-modal">退会する</div>

  <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><label>本当に退会しますか？</label></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-center">一度退会するとデータはすべて削除され復旧はできません。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn dashboard-delete-link" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn dashboard-delete-link">退会する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= javascript_include_tag "user/edit" %>
