<h1>ユーザー情報編集</h1>
<hr>
<%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
  <div class="form-inline mt-4 mb-4 row">
    <%= render partial: 'shared/show_image', locals: { target: @user, image_size: "100x100" } %>
    <div class="d-flex flex-column ml-2">
      <small class="mb-3">600px×600px推奨。<br>画像をアップロードして下さい。</small>
      <%= f.file_field :image, { onChange: "javascript: handleImage(this.files);"} %>
      <img id="user-image-preview",size="50x50">
    </div>
  </div>
  
  <hr>
  
  <%= f.label :name, "氏名" %>
  <%= f.text_field :name, value: @user.name %>
  
  <hr>
  
  <%= f.label :email, "E-mail" %>
  <%= f.email_field :email, value: @user.email %>
  
  <hr>
  
  <%= f.label :age, "年齢" %>
  <% choices = [['10代', 10],['20代', 20],['30代',30],['40代',40],['50代',50],['60代',60],['シニア','シニア']] %>
  <%= f.select :age, choices, selected: @user.age %>
  
  
  <hr>
  
  <%= f.radio_button :gender, "男性", {:checked => @user.gender.eql?("男性") } %>
  <%= f.label :gender, "男性", {value: "男性", stylr: "display: inline-block;"} %>

  <%= f.radio_button :gender, "女性", {:checked => @user.gender.eql?("女性") } %>
  <%= f.label :gender, "女性", {value: "女性", style: "display: inline-block;"} %>
  <hr>
  
  <%= f.label :self_introduction, "自己紹介"%>
  <%= f.text_area :self_introduction, value: @user.self_introduction %>
  
  <hr>
  
  <%= f.label :instagram_url, "インスタグラムのアカウント" %>
  <%= f.text_field :instagram_url, value: @user.instagram_url %>
  
  <hr>
  
  <%= f.label :twitter_url, "Twitterのアカウント" %>(「@」はいりません)
  <%= f.text_field :twitter_url, value: @user.twitter_url %>
  
  <hr>
  
  <%= f.label :youtube_url, "YouTubeのアカウント" %>
  <%= f.text_field :youtube_url, value: @user.youtube_url %>
  
  <hr>
  
  <%= f.label :users_blog_url, "個人ブログのURL" %>
  <%= f.text_field :users_blog_url, value: @user.users_blog_url %>
  
  <hr>
  
  <%= f.label :tabelog_url, "食べログのアカウント" %>
  <%= f.text_field :tabelog_url, value: @user.tabelog_url %>
  
  <hr>
  
  <%= f.label :facebook_url, "FaceBookのアカウント" %>
  <%= f.text_field :facebook_url, value: @user.facebook_url %>
  
  <hr>
  
  <%= f.label :tiktok_url, "TikTokのアカウント" %>
  <%= f.text_field :tiktok_url, value: @user.tiktok_url %>
  
  <hr>
  
  <%= f.submit "保存" %>
<% end %>

<div class="d-flex justify-content-end">
  <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
  <div class="btn dashboard-delete-link" data-toggle="modal" data-target="#delete-user-confirm-modal">退会する</div>

  <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><label>本当に退会しますか？</label></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-center">一度退会するとデータはすべて削除され復旧はできません。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn dashboard-delete-link" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn dashboard-delete-link">退会する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= javascript_include_tag "user/edit" %>
