<h1>お気に入り</h1>

<hr>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">店舗名</th>
      <th scope="col">電話番号</th>
      <th scope="col">住所</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite_coffee_shop| %>
      <tr>
        <td>
          <%= render partial: 'shared/show_image_first', locals: { target: favorite_coffee_shop, image_size: "100x100" } %>
        </td>
        <td><%= link_to favorite_coffee_shop.name, coffee_shop_path(favorite_coffee_shop) %></td>
        <td><%= CoffeeShopShowInfoService.new(favorite_coffee_shop).create_tell_number %></td>
        <td><%= favorite_coffee_shop.address %></td>
        <td><%= link_to "解除", favorite_coffee_shop_path(favorite_coffee_shop,target_action: "favorite") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
