<div class="w-75">
  
  <h1>都道府県一覧</h1>
  
  <%= form_with(model: @prefecture, url: dashboard_prefectures_path, local: true) do |f| %>
    <%= f.label :name, "都道府県名" %>
    <%= f.text_field :name %>
    
    <%= f.submit "新規作成" %>
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">都道府県</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @prefectures.each do |prefecture| %>
      <tr>
        <td scope="row"><%= prefecture.id %></td>
        <td><%= prefecture.name %></td>
        <td>
          <%= link_to "編集", edit_dashboard_prefecture_path(prefecture) %>
          
        </td>
        <td>
          <%= link_to "削除", dashboard_prefecture_path(prefecture), method: :delete, data: { confirm: '本当に?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>