<div class="w-75">
  
  <h1>支払い方法一覧</h1>
  
  <%= form_with(model: @payment_method, url: dashboard_payment_methods_path, local: true) do |f| %>
    <%= f.label :name, "支払い方法" %>
    <%= f.text_field :name %>
    
    <%= f.submit "新規作成" %>
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">支払い方法</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_methods.each do |payment_method| %>
      <tr>
        <td scope="row"><%= payment_method.id %></td>
        <td><%= payment_method.name %></td>
        <td>
          <%= link_to "編集", edit_dashboard_payment_method_path(payment_method) %>
          
        </td>
        <td>
          <%= link_to "削除", dashboard_payment_method_path(payment_method), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>