<%= render partial: 'shared/dashboard/search_items_index', locals: { item_name: 'コーヒー豆', search_item: @coffee_bean, search_items_path: dashboard_coffee_beans_path,
search_items: @coffee_beans, items: 'coffee_beans', itemp: 'coffee_bean', destroy_path: 'dashboard_coffee_bean_path(coffee_bean)'} %>

<div class="w-75">
  
  <h1>コーヒー豆一覧</h1>
  
  <%= form_with(model: @coffee_bean, url: dashboard_coffee_beans_path, local: true) do |f| %>
    <%= f.label :name, "豆名" %>
    <%= f.text_field :name %>
    
    <%= f.submit "新規作成" %>
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">豆名</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @coffee_beans.each do |coffee_bean| %>
      <tr>
        <td scope="row"><%= coffee_bean.id %></td>
        <td><%= coffee_bean.name %></td>
        <td>
          <%= link_to "編集", edit_dashboard_coffee_bean_path(coffee_bean) %>
          
        </td>
        <td>
          <%= link_to "削除", dashboard_coffee_bean_path(coffee_bean), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>