<div class="w-75">
  
  <h1>お店の雰囲気一覧</h1>
  
  <%= form_with(model: @shop_atmosphere, url: dashboard_shop_atmospheres_path, local: true) do |f| %>
    <%= f.label :name, "雰囲気" %>
    <%= f.text_field :name %>
    
    <%= f.submit "新規作成" %>
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">雰囲気</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @shop_atmospheres.each do |shop_atmosphere| %>
      <tr>
        <td scope="row"><%= shop_atmosphere.id %></td>
        <td><%= shop_atmosphere.name %></td>
        <td>
          <%= link_to "編集", edit_dashboard_shop_atmosphere_path(shop_atmosphere) %>
          
        </td>
        <td>
          <%= link_to "削除", dashboard_shop_atmosphere_path(shop_atmosphere), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>