<!--<h1><%= item_name %>編集</h1>-->

<!--<%= form_with model: search_item, url: my_update_link_to(items,search_item.id), local: true do |f| %>-->
<!--  <%= f.submit "更新" %>-->
<!--  <%= f.text_field :name %>-->
  
<!--<% end %>-->
<!--<%= link_to "#{item_name}に戻る", search_items_path %>-->