<%= form_with model: @coffee_shop, url: coffee_shop_url, local: true do |f| %>

  店舗名[必須]<%= f.text_field :name %>
  <br>
  店舗HP<%= f.text_field :shop_url %>
  <br>
  住所[必須]<%= f.text_field :address %>
  <br>
  電話番号[必須]<%= f.number_field :shop_tell %>
  <br>
  アクセス<%= f.text_field :access %>
  <br>
  営業時間<%= f.time_field :business_start_hour %> ~ <%= f.time_field :business_end_hour %>
  <br>
  すいている時間<%= f.time_field :slack_time_start %> ~ <%= f.time_field :slack_time_end %>
  <br>
  定休日[必須]
  <% DayOfWeek.all.each do |day_of_week| %>
    <% if metod.eql?('edit') %>
      <%= check_box_tag 'regular_holidays[]', day_of_week.name, @coffee_shop.regular_holiday.include?(day_of_week.name) %><%= day_of_week.name %>
    <% elsif metod.eql?('new') %>
      <%= check_box_tag 'regular_holidays[]', day_of_week.name %><%= day_of_week.name %>
    <% end %>
  <% end %>
  <br>
  年齢層
  <%= f.select :age_group, AgeGroup.pluck(:name), { include_blank: '選択してください' } %>
  <br>
  Instagram公式URL<%= f.text_field :instagram_url %>
  <br>
  InstagramスポットURL<%= f.text_field :instagram_spot_url %>
  <br>
  エリア[必須]<%= f.select :municipalitie_id, @municipality_tags, { include_blank: '選択してください' } %>
  <br>
  <div class="form-inline mt-4 mb-4 row">
    <%= f.label "画像" %>
    <%= render partial: 'shared/show_images', locals: { target: @coffee_shop, image_size: "100x100" } %>
    <div class="d-flex flex-column ml-2">
      <small class="mb-3">600px×600px推奨。<br>画像をアップロードして下さい。</small>
      <%= f.file_field :images, onChange: "javascript: handleImage(this.files);", multiple: true %>
      <img id="image-preview",size="50x50">
    </div>
  </div>
  こだわり<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:search_category_ids, SearchCategory.all, :id, :name) do |search_category| %>
      <%= search_category.label { search_category.check_box + search_category.text } %>
    <% end %>
  </div>
  お店の雰囲気<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:shop_atmosphere_ids, ShopAtmosphere.all, :id, :name) do |shop_atmosphere| %>
      <%= shop_atmosphere.label { shop_atmosphere.check_box + shop_atmosphere.text } %>
    <% end %>
  </div>
  コーヒー豆<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:coffee_bean_ids, CoffeeBean.all, :id, :name) do |coffee_bean| %>
      <%= coffee_bean.label { coffee_bean.check_box + coffee_bean.text } %>
    <% end %>
  </div>
  席数<%= f.number_field :shop_seats %>
  <br>
  静かさ<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:volume_in_shop_ids, VolumeInShop.all, :id, :name) do |volume_in_shop| %>
      <%= volume_in_shop.label { volume_in_shop.check_box + volume_in_shop.text } %>
    <% end %>  
  </div>
  食べもの<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:food_menu_ids, FoodMenu.all, :id, :name) do |food_menu| %>
      <%= food_menu.label { food_menu.check_box + food_menu.text } %>
    <% end %>
  </div>
  BGM<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:shop_bgm_ids, ShopBgm.all, :id, :name) do |shop_bgm| %>
      <%= shop_bgm.label { shop_bgm.check_box + shop_bgm.text } %>
    <% end %>
  </div>
  PC作業<%= f.select :pc_work, PcWork.pluck(:name), { include_blank: '選択してください' } %>
  <br>
  時間制限<%= f.select :time_limit, TimeLimit.pluck(:name), { include_blank: '選択してください' } %>
  <br>
  風景<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:shop_scenery_ids, ShopScenery.all, :id, :name) do |shop_scenery| %>
      <%= shop_scenery.label { shop_scenery.check_box + shop_scenery.text } %>
    <% end %>
  </div>
  テラス席<%= f.select :terrace_seat, ['あり', 'なし'], { include_blank: '選択してください'} %>
  <br>
  貸切<%= f.select :can_reserved, ['可','不可'], { include_blank: '選択してください'} %>
  <br>
  漫画<%= f.select :comic, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  雑誌<%= f.select :magazine, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  ラテアート<%= f.select :latte_art, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  新聞<%= f.select :newspaper, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  モーニング<%= f.select :morning_menu, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  無料の水<%= f.select :free_water, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  ペット<%= f.select :with_pet, ['可','不可'], { include_blank: '選択してください' } %>
  <br>
  共有PC<%= f.select :free_pc, ['あり','なし'], { include_blank: '選択してください' } %>
  <br>
  駐車場<%= f.select :parking_place, ['あり', 'なし'], { include_blank: '選択してください' } %>
  <br>
  支払い方法<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:payment_method_ids, PaymentMethod.all, :id, :name) do |payment_method| %>
      <%= payment_method.label { payment_method.check_box + payment_method.text } %>
    <% end %>
  </div>
  予算(上限)：<%= f.number_field :shop_badget_upper %>円
  <br>
  予算(下限)；<%= f.number_field :shop_badget_lower %>円
  <br>
  コーヒー(1杯)：<%= f.number_field :coffee_price %>円
  <br>
  カフェラテ(1杯)：<%= f.number_field :latte_price %>円
  <br>
  椅子の種類<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:chair_type_ids, ChairType.all, :id, :name) do |chair_type| %>
      <%= chair_type.label { chair_type.check_box + chair_type.text } %>
    <% end %>
  </div>
  コンセント：<%= f.select :outlet, CoffeeShop.outlets_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  Wi-Fi：<%= f.select :wifi, CoffeeShop.wifis_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  禁煙・喫煙：<%= f.select :smoking, CoffeeShop.smokings_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  利用シーン<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:use_scene_ids, UseScene.all, :id, :name) do |use_scene| %>
      <%= use_scene.label { use_scene.check_box + use_scene.text } %>
    <% end %>
  </div>
  店員さんの雰囲気<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:atmosphere_of_clerk_ids, AtmosphereOfClerk.all, :id, :name) do |atmosphere_of_clerk| %>
      <%= atmosphere_of_clerk.label { atmosphere_of_clerk.check_box + atmosphere_of_clerk.text } %>
    <% end %>
  </div>
  机の広さ<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:size_of_desk_ids, SizeOfDesk.all, :id, :name) do |size_of_desk| %>
      <%= size_of_desk.label { size_of_desk.check_box + size_of_desk.text } %>
    <% end %>
  </div>
  ポイントカード<br>
  <div class="check_box">
    <%= f.collection_check_boxes(:point_card_ids, PointCard.all, :id, :name) do |point_card| %>
      <%= point_card.label { point_card.check_box + point_card.text } %>
    <% end %>
  </div>
  予約：<%= f.select :reservation, CoffeeShop.reservations_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  テイクアウト：<%= f.select :take_out, CoffeeShop.take_outs_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  お子様連れ：<%= f.select :with_children, CoffeeShop.with_children_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  アミューズメント：<%= f.select :amusement, CoffeeShop.amusements_i18n.invert, { include_blank: '選択してください'} %>
  <br>
  インスタ映え：<%= f.select :look_by_instagram, CoffeeShop.look_by_instagrams_i18n.invert, { include_blank: '選択してください'} %>
  <hr>
  <% if metod.eql?('edit') %>
    <%= f.submit "更新" %>
  <% elsif metod.eql?('new') %>
    <%= f.submit "追加" %>
  <% end %>
  
<% end %>

<%= link_to "一覧に戻る", dashboard_coffee_shops_path %>
