<div class="container">
  <div class="cover-container">
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <!--サインインしている-->
      <% if user_signed_in? %>
        <p>ようこそ
        <%= current_user.name %>
        さん
        </p>
        <%= link_to "お気に入り店舗:", favorite_users_path %>
        <% current_user.likees(CoffeeShop).last(5).each do |favorite_coffee_shop| %>
          <%= link_to favorite_coffee_shop.name, coffee_shop_path(favorite_coffee_shop) %>
        <% end %>
        <br>
        <%= link_to "フォロー:", following_users_path %>
        <% current_user.followees(User).last(5).each do |follow_user| %>
          <%= link_to follow_user.name, user_path(follow_user.id) %>
        <% end %>
      <!--サインインしていない-->
      <% else %>
        <div class="cover-container-befoer-sign-in">
          <p class="title-text">あなただけの検索条件で、<br>
          あなたにぴったりのカフェがつかる</p>
          <p class="title-sub-text" >検索条件は50件以上、お気に入り登録も可能</p>
        </div> 
      <% end %>
    </div>
  </div>
  
  <hr>
  
  <div class="search_by_area">
    (検索のエリア)<br>
    都道府県
    <br>
    <% Prefecture.all.each do |prefecture| %>
      <%= link_to prefecture.name, search_path(prefecture_id: prefecture.id) %>
    <% end %>
  </div>
  
  <hr>
  
  <div class="ranking_by_area">
    (ランキングのエリア)<br>
    ■お気に入り数<br>
    <% @rank_favorite_coffee_shops.each do |coffee_shop| %>
      <%= link_to coffee_shop.name,coffee_shop_path(coffee_shop) %>：<%= coffee_shop.likers_count %>人<br>
    <%  end %>
    
    <br>
    
    ■フォロワー数<br>
    <% @rank_follow_users.each do |user| %>
      <%= link_to user.name, user_path(user) %>：<%= user.followers_count %>人<br>
    <% end %>
    
    <br>
    
    ■レビュー数<br>
    <% @rank_review_users.each do |user| %>
      <%= link_to user.name, user_path(user) %>：<%= Review.where(user_id: user.id).count %>件<br>
    <% end %>
    
  </div>
  
</div>