<div class="container">
  <div class="cover-container">
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <!--サインインしている-->
      <% if user_signed_in? %>
        <p>サインイン済み</p>
        <p>ようこそ
        <%= current_user.name %>
        さん
        </p>
      <!--サインインしていない-->
      <% else %>
        <div class="cover-container-befoer-sign-in">
          <p class="title-text">あなただけの検索条件で、<br>
          あなたにぴったりのカフェがつかる</p>
          <p class="title-sub-text" >検索条件は50件以上、お気に入り登録も可能</p>
        </div> 
      <% end %>
    </div>
  </div>
  
  <hr>
  
  <div class="search_by_area">
    (検索のエリア)
    <%= form_with url: search_coffee_shops_path, method: :get, local: true do |f| %>
      店舗名
      <br>
      <%= f.text_field :name %>
      <%= f.submit :search %>
    <% end %>
    <hr>
    <%= form_with url: search_coffee_shops_path, method: :get, local: true do |f| %>
      電話番号検索
      <br>
      <%= f.number_field :tell %>
      <%= f.submit :search %>
    <% end %>
  </div>
  
  <hr>
  
  <div class="ranking_by_area">
    (ランキングのエリア)
  </div>
  
</div>